<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monedas - Acesse sua conta</title>
    <link rel="stylesheet" href="{{url_for('static', filename='acesse_conta.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
 <body>
    <div class="container">
        <main>

            <div class="content-wrapper">
                <div class="left-section">
                    <h1>Abra sua conta</h1>
                    <p class="consultancy-text">Consultoria personalizada para alcançar seus objetivos com inteligência e simplicidade</p>
                </div>

                <div class="right-section">
                    <div class="login-box">
                        <h2>ACESSE SUA CONTA</h2>
                        {%set message = get_flashed_messages() %}
                        <form action="" method="POST">
                            <div class="input-group">
                                <label for="email">E-mail</label>
                                <input type="text" id="email" name="email" maxlength="35" placeholder="exemplo@email">
                                    {% if message %}
                                        <p class="flash-erro">{{ message[0] }}</p>
                                    {% endif %}
                            </div>
                            <div class="input-group">
                                <label for="senha">SENHA</label>
                                <input type="password" id="senha" name="senha" minlength="8" maxlength="20" placeholder="Mínimo 8 caracteres">
                                    {% if message %}
                                        <p class="flash-erro">{{ message[0] }}</p>
                                    {% endif %}
                            </div>
                            <div class="crie_conta"> 
                                <p>Não possui conta?<a href="{{url_for('criar_conta')}}">Crie a sua!</a></p>
                            </div>   

                            <input class="continue-btn" type="submit" value="enviar"> 
                                                
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="footer-text">
                <h1>Transforme Seu Futuro Financeiro.</h1>
            </div>
        </footer>
    </div>

 </body>
</html>