<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monedas - Abra sua conta</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">

    <!--fim do header-->
        <main class="register-container">
            <div class="register-content">
                <h1>Abra sua conta</h1>
                <p class="welcome-text">Chegou a hora de abrir sua conta!</p>
                
                <div class="divider"></div>
    <!--inicio do form-->
        <!--tornaar required todos os campos após finalização-->
                <form action="" method="POST" class="register-form">
                    <div class="input-group">
            <!--campo de CPF-->     
                        <label for="cpf">Digite seu CPF</label>  
                        <input type="text" id="cpf" name="cpf" maxlength="11" placeholder="xxx.xxx.xxx-xx">
                    </div>

                    <div class="input-group">
                        <!--campo de CPF-->     
                            <label for="nome">Digite seu Nome</label>  
                            <input type="text" id="nome" name="nome" maxlength="35" placeholder="Nome Completo">
                    </div>
                    
                    <div class="input-group">
            <!--campo de email--->  
                        <label for="email">Digite seu E-MAIL</label> 
                        <input type="email" id="email" name="email" maxlength="45" placeholder="seu_email@exemplo.com">
                    </div>
                    
                    <div class="input-group">
            <!--campo telefone-->   
                        <label for="phone">Digite seu Telefone</label>
                        <input type="text" id="phone" name="telefone" maxlength="11" placeholder="(xx) xxxxx-xxxx">
                    </div>
                    
                    <div class="input-group">
            <!--campo endereço-->   
                        <label for="address">Digite seu Endereço</label>
                        <input type="text" id="address" name="endereco" maxlength="35" placeholder="Rua, Número">
                    </div>
                    
                    <div class="input-group">
            <!--campo senha-->
                        <label for="password">Crie sua Senha</label>
                        <input type="password" id="password" name="senha" placeholder="Mínimo 8 caracteres" maxlength="20" minlength="8">
                    </div>
                    <div class="criar_conta">
            <!--link para acessar conta caso ja tenha-->
                        <p>Já possui conta?<a href="{{url_for('acesse_conta')}}">Acesse sua conta!</a></p>
                    </div>
                    <div class="checkbox-group">
            <!--cehckbox de termos-->
                        <input type="checkbox" id="terms" name="terms">
                        <label for="terms">Li e aceito todos os termos de <a href="{{url_for('termos_cliente')}}">Política e Privacidade</a></label>
                    </div>  
                    
            <!--botao pora envio de formulario-->                   
                    <input type="submit" value="criar_conta"  class="continue-btn">
                </form>
            </div>
        </main>
    </div>
</body>
</html>